<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="p-grid">
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelectPipe" [toggleable]="true">
      <p>
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect : invitacionMapa }}
        a nuestro evento.
      </p>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Actualmente {{ clientes.length | i18nPlural : clientesMapa }}</p>
    </p-fieldset>

    <button
      (click)="borrarCliente()"
      pButton
      label="Borrar cliente"
      class="p-button-danger"
    ></button>
  </div>
</div>
