<div class="text-layout">
  <h1>Pipes personalizados</h1>
  <p>
    Pipes personalizados - creados por
    {{ "nosotras" | mayusculas }}
  </p>
</div>

<p-toolbar>
  <div class="p-toolbar-group-start"></div>
  <button
    pButton
    label="toggle mayúsculas"
    class="mr-2 p-button-warning"
  ></button>

  <div class="p-toolbar-group-end">
    <button pButton icon="pi pi-sort" label="Por nombre" class="mr-2"></button>

    <button
      pButton
      icon="pi pi-sort"
      label="Vuela"
      class="mr-2 p-button-success"
    ></button>

    <button
      pButton
      icon="pi pi-sort"
      label="Por color"
      class="mr-2 p-button-help"
    ></button>
  </div>
</p-toolbar>
